html, body {
  margin: 0;
  padding: 0;
  background-color: pink;
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.valentines-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 2%;
  width: 5000px;
  height: 5000px;
}

iframe {
  width: 500px;
  height: 500px;
  /* min-width: 500px;
  min-height: 500px;
  max-width: 800px;
  max-height: 800px; */
}

.biggerFrame {
  width: 800px;
  height: 800px;
}
